---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";
import path from "pathe";
import ContentImage from "~/components/ContentImage.astro";

const seminars = (await getCollection("seminars")).sort(
  (a, b) => b.data.weight - a.data.weight,
);

const seminarsTeachers = await Promise.all(
  seminars.map(async (seminar) => {
    const teacher = await getEntry(
      "teachers",
      path.basename(seminar.data.teacher, ".yaml"),
    );
    return {
      seminar: seminar,
      teacher: teacher,
    };
  }),
);
---

<style>
  @reference "~/styles/global.css";

  .row:nth-child(odd) {
    grid-template-columns:
      [col-image] minmax(0, 1fr)
      [col-seminar] minmax(0, 2fr)
      [col-teacher] minmax(0, 1fr);
  }

  .row:nth-child(even) {
    grid-template-columns:
      [col-seminar] minmax(0, 2fr)
      [col-teacher] minmax(0, 1fr)
      [col-image] minmax(0, 1fr);
  }

  @media (width >= 64rem) {
    .row:nth-child(odd) {
      grid-template-columns:
        [col-image] 0
        [col-seminar] minmax(0, 2fr)
        [col-teacher] minmax(0, 1fr);
    }

    .row:nth-child(even) {
      grid-template-columns:
        [col-seminar] minmax(0, 2fr)
        [col-teacher] minmax(0, 1fr)
        [col-image] 0;
    }
  }
</style>

<BaseLayout>
  <h1 class="mb-4 font-serif text-3xl capitalize md:text-4xl lg:mb-8">
    Seminars
  </h1>
  <div class="font-serif">
    {
      seminarsTeachers.map(({ seminar, teacher }) => (
        <a
          href={path.join("/seminars", seminar.id)}
          class={`row group not-last:after:bg-ivory-solid relative grid
            max-w-128 content-center items-center px-4 py-4 font-medium
            before:absolute before:inset-0 before:-z-10
            before:bg-[linear-gradient(to_right,transparent,var(--color-ivory)_calc(4*var(--spacing)),var(--color-ivory)_calc(100%-4*var(--spacing)),transparent)]
            before:opacity-0 before:duration-1000 not-last:after:absolute
            not-last:after:bottom-0 not-last:after:h-0.25
            not-last:after:w-[calc(100%-8*var(--spacing))]
            not-last:after:translate-x-4 hover:before:opacity-100 lg:min-h-24`}
        >
          <div
            class={`max-w-24 duration-2000 group-odd:right-10 group-odd:mr-2
              group-odd:justify-self-start group-even:left-10 group-even:ml-2
              group-even:justify-self-end md:group-odd:mr-4 md:group-even:ml-4
              lg:pointer-events-none lg:absolute lg:w-32 lg:max-w-none
              lg:group-odd:mr-auto lg:group-even:ml-auto
              lg:group-hover:scale-110 lg:group-odd:group-hover:translate-x-4
              lg:group-even:group-hover:-translate-x-4`}
            style="grid-area: col-image;"
          >
            <ContentImage
              path={teacher.data.image}
              class="aspect-square rounded-lg object-cover"
            />
          </div>
          <div
            class={`after:bg-ivory-solid relative pr-6 pl-2 text-right
              break-words after:absolute after:top-1/2 after:right-2.5
              after:h-4/5 after:w-0.25 after:-translate-y-1/2 after:opacity-50
              after:content-[''] md:pr-8 md:after:right-3.5`}
            style="grid-area: col-seminar;"
          >
            <div class="uppercase md:text-lg lg:text-xl">
              {seminar.data.mainTitle}
            </div>
            {seminar.data.additionalTitle && (
              <div class="md:text-md text-sm lg:text-lg">
                {seminar.data.additionalTitle}
              </div>
            )}
          </div>
          <div
            class="break-words hyphens-auto md:text-lg lg:text-xl"
            lang="de"
            style="grid-area: col-teacher;"
          >
            {teacher.data.name}
          </div>
        </a>
      ))
    }
  </div>
</BaseLayout>
