---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";
import path from "pathe";
import ContentImage from "~/components/ContentImage.astro"; 

const seminars = await getCollection("seminars");

const seminarsTeachers = await Promise.all(
  seminars.map(async (seminar) => {
    const teacher = await getEntry("teachers", path.basename(seminar.data.teacher, ".yaml"));
    return {
      seminar: seminar,
      teacher: teacher
    };
  })
);
---

<style>
  @reference "~/styles/global.css";

  .row:nth-child(odd) {
    grid-template-columns:
      [col-image] minmax(0, 1fr)
      [col-seminar] minmax(0, 2fr)
      [col-teacher] minmax(0, 1fr);
  }

  .row:nth-child(even) {
    grid-template-columns:
      [col-seminar] minmax(0, 2fr)
      [col-teacher] minmax(0, 1fr)
      [col-image] minmax(0, 1fr);
  }

  .row:not(:last-child)::after {
    @apply w-[calc(100%-32px)] h-0.25 absolute content-[''] bg-ivory-solid bottom-0 translate-x-4;
  }

  .col-seminar::after {
    @apply h-4/5 w-0.25 content-[''] absolute bg-ivory-solid top-1/2 right-2.5 -translate-y-1/2 opacity-50;
  }

  @media (width >= 48rem) {
    .row:nth-child(odd) {
      --direction: 1;

      grid-template-columns:
        [col-image] 0
        [col-seminar] minmax(0, 2fr)
        [col-teacher] minmax(0, 1fr);
    }

    .row:nth-child(even) {
      --direction: -1;

      grid-template-columns:
        [col-seminar] minmax(0, 2fr)
        [col-teacher] minmax(0, 1fr)
        [col-image] 0;
    }
  }
</style>

<BaseLayout>
  <h1 class="capitalize text-3xl">Seminars</h1>
  <div>
  {
  seminarsTeachers.reverse().map(({seminar, teacher}) => (
  <a href={path.join("/seminars", seminar.id)} class="hover:bg-ivory focus:bg-ivory row items-center px-4 grid relative py-4 md:text-lg overflow-visible md:min-h-24 md:max-w-128 content-center group">
        <div class="col-image md:absolute md:group-hover:translate-x-[calc(8*var(--direction)*var(--spacing))] group-hover:translate-x-[calc(8*var(--direction)*var(--spacing))] md:group-hover:scale-110 duration-2000 group-odd:right-16 group-even:left-16" style="grid-area: col-image;">
          <ContentImage path={teacher.data.image} class="object-cover rounded-lg aspect-square w-full max-w-24 md:w-32 md:h-32 md:max-w-none" />
        </div>
        <div class="text-right col-seminar relative pl-2 pr-6" style="grid-area: col-seminar;">
          <div class="uppercase">{seminar.data.mainTitle}</div>
          <div>{seminar.data.additionalTitle}</div>
        </div>
        <div class="break-words hyphens-auto" lang="de" style="grid-area: col-teacher;">{teacher.data.name}</div>
      </a>
    ))
  }
  </div>  
</BaseLayout>
