---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getEntry, render } from "astro:content";

const about = await getEntry("about", "about");

const { Content } = await render(about);
---

<BaseLayout>
  <h1 class="mb-4 font-serif text-3xl capitalize md:text-4xl lg:mb-8">
    {about.data.title}
  </h1>
  <div
    class={`markdown max-w-144 text-justify font-serif text-lg font-medium
      tracking-wide p-4`}
  >
    <Content />
  </div>
</BaseLayout>
