---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getEntry, render } from "astro:content";

const about = await getEntry("about", "about");

const { Content } = await render(about);
---

<BaseLayout>
  <h1 class="mb-8 font-serif text-4xl">{about.data.title}</h1>
  <div class="markdown max-w-144 text-justify font-serif text-lg tracking-wide">
    <Content />
  </div>
</BaseLayout>
