---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="mb-4 font-serif text-3xl capitalize md:text-4xl lg:mb-8">
    Contact
  </h1>
  <div class="flex grow flex-col justify-center">
    <a
      href="mailto:info@labyrinthvienna.com"
      class="font-serif text-xl hover:underline"
      ><span class="font-bold">info</span>@<span class="font-bold"
        >labyrinth</span
      >vienna.com</a
    >
  </div>
</BaseLayout>
