---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout>
  <a href="/" class="font-serif text-xl hover:underline"
    ><span class="font-bold">labyrinth</span>vienna.com</a
  >
</BaseLayout>
