---
import "~/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="flex flex-col items-center justify-center gap-16 p-16">
    <div class="grid h-[20mm] grid-cols-[repeat(13,_17.5mm)]">
      <div class="col-span-3 flex flex-col items-center border">
        <div class="font-bold">QM1</div>
        <div class="flex grow flex-col justify-center">
          <div class="text-center text-lg font-bold">Hlavný vypínač</div>
        </div>
      </div>
      <div class="col-span-4 flex flex-col items-center border border-l-0">
        <div class="font-bold">FV1</div>
        <div class="flex grow flex-col justify-center">
          <div class="text-center text-lg">Prepäťová ochrana</div>
        </div>
      </div>
    </div>
    <div class="grid h-[20mm] grid-cols-[repeat(13,_17.5mm)]">
      <div class="col-span-4 flex flex-col items-center border">
        <div class="font-bold">FI1</div>
        <div class="flex grow flex-col justify-center">
          <div class="text-center text-lg">Prúdový chránič</div>
        </div>
      </div>
    </div>
    <div class="grid h-[20mm] grid-cols-[repeat(13,_17.5mm)]">
      <div class="col-span-3 flex flex-col items-center border">
        <div class="font-bold">FA1.1</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Varná doska</div>
          <div class="text-center text-xs">Zásuvka ostrovček</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.2</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Kuchynská linka</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.3</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Umývačka</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.4</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Mikrovlnka Chlanička Mraznička</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.5</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Kúpeľna zásuvky</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.6</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Kúpeľna radiátor, vaňa</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.7</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Obývačka zásuvky</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.8</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Izby zásuvky</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.9</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Ostatné zásuvky</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.10</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Exteriér zásuvky</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.11</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Dátový rozvádzač</div>
        </div>
      </div>
    </div>
    <div class="grid h-[20mm] grid-cols-[repeat(13,_17.5mm)]">
      <div class="col-span-3 flex flex-col items-center border">
        <div class="font-bold">FA1.12</div>
        <div class="flex grow flex-col justify-center">
          <div class="text-center text-xs">Vírivka</div>
        </div>
      </div>
      <div class="col-span-2 flex flex-col items-center border border-l-0">
        <div class="font-bold">FAI2</div>
        <div class="flex grow flex-col justify-center">
          <div class="text-center text-xs">Svetlo interiér</div>
        </div>
      </div>
      <div class="col-span-2 flex flex-col items-center border border-l-0">
        <div class="font-bold">FAI3</div>
        <div class="flex grow flex-col justify-center">
          <div class="text-center text-xs">Svetlo exteriér</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA4</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Žalúzie</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA5</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Sauter</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.13</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Rúra</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.14</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Práčka Sušička</div>
        </div>
      </div>
      <div class="flex flex-col items-center border border-l-0">
        <div class="font-bold">FA1.15</div>
        <div class="flex grow flex-col items-center justify-center">
          <div class="text-center text-xs">Alarm</div>
        </div>
      </div>
    </div>
  </body>
</html>
