---
import BaseLayout from "~/layouts/BaseLayout.astro";
---

<BaseLayout strictHeight>
  <h1 class="mb-4 font-serif text-3xl capitalize md:text-4xl lg:mb-8">
    Registration
  </h1>
  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSdEmUsYgdqyEWkE4OggaeS_9JGgOXlFhe6N0qW-hEqP4dAJcw/viewform?embedded=true"
    class="h-full w-full"></iframe>
</BaseLayout>
