---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getEntry, render } from "astro:content";

const terms = await getEntry("terms", "terms");
---

<BaseLayout>
  <h1 class="mb-4 text-xl capitalize md:text-2xl lg:mb-8">
    {terms.data.title}
  </h1>
</BaseLayout>
