---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getCollection, getEntry } from "astro:content";
import path from "pathe";

const teachers = await getCollection("teachers");
---

<BaseLayout>
  <h1 class="text-4xl capitalize">Our teachers</h1>
  <ul class="flex grow flex-col items-center justify-center gap-4">
    {
      teachers.map((teacher) => (
        <li>
          <a href={path.join("/teachers", teacher.id)} class="p-2 text-xl">
            {teacher.data.name}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
