---
import Logo from "~/components/Logo.astro";
import { navItemsMain, navItemsLegal } from "~/lib/navigation.ts";
import Nav from "~/components/Nav.tsx";
---

<header
  transition:persist
  >
  <Nav client:load navItems={navItemsMain} pathname={Astro.url.pathname}>
    <Logo />
  </Nav>
</header>
