---
import { ClientRouter } from "astro:transitions";
import '@fontsource-variable/cormorant-garamond';
import "~/styles/global.css";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="TODO" />
    <meta name="application-name" content="Labyrinth Vienna" />
    <meta
      name="description" content="TODO"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="TODO" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>Labyrinth Vienna</title>
    <ClientRouter fallback="none" />
  </head>
  <body class="text-space-blue bg-shuttle-white">
    <div
      class="flex min-h-dvh flex-col font-serif"
    >
      <Header />
      <main class="flex grow flex-col items-center h-[calc(100dvh_-_10rem)] justify-center">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
