---
import { ClientRouter } from "astro:transitions";
import "@fontsource-variable/cormorant-garamond";
import "@fontsource-variable/montserrat";
import "~/styles/global.css";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="TODO" />
    <meta name="application-name" content="Labyrinth Vienna" />
    <meta name="description" content="TODO" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content="TODO" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>Labyrinth Vienna</title>
    <ClientRouter fallback="none" />
  </head>
  <body class="bg-ivory-soft text-black">
    <div class="flex min-h-dvh flex-col">
      <Header />
      <main class="flex grow flex-col items-center">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
